---
BasedOnStyle: Google
Language: Cpp
ColumnLimit: 100
IndentWidth: 2
TabWidth: 2
UseTab: Never
PointerAlignment: Left
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
IndentCaseLabels: true
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
